@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}

.navbar{
    padding-left: 9.5%;
}

.nav-customHref{
    font-family: 'roboto', sans-serif;
}

.mt-124{
    padding-top: 30px;
}

.intro-col img{
    width: 70%;
    height: 80%;
    margin-top: 30px;
    margin-left: 30px;
}

.heading, .p-kedua {
    margin-left: 20%;
    margin-top: 12%;
}


h1.heading{
    color: #171717;
    font-size: 60px;
    font-weight: bold;
    margin-right: 30px;
}

p.p-kedua{
    color: #4895D6;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 30px;
}

.intro-text h3{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #2D3748;
}

.intro-img img{
    margin-left: 15%;
}

.card-body{
    border-left: 20%;
}

.card-body h5{
    font-weight: bold;
    font-size: 20px;
}

.card-text{
    color: #718096;
    font-size: 14px;
}
.flex-container{
    display: flex;
    margin-top: 20px;
}

.flex-container p{
    color: #718096;
    font-size: 12px;
}

.flex-container button{
    margin-left: 160px;
    margin-bottom: 20px;
    border: none;
    background: transparent;
    font-weight: bold;
    font-size: 12px;
}
.card-last{
    background: #F7FAFC;
    border: none !important;
}
.con-last h3{
    font-family: 'inter', sans-serif;
    margin-top: 98px;
    margin-left: 63px;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.con-last p{
    margin-top: 24px;
    margin-left: 63px;
    color: #718096;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-family: 'inter', sans-serif;
    
}

.last p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #4A5568;
}

.last button{
    margin-top: 31px;
    margin-left: 152px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.last-img img{
    height: 500px;
    width: 525px;


}
footer h5{
    text-align: center;
    margin-top: 152px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.custom-btn-last{
    margin-right:120px;
    margin-top: 10px;
}

@media screen and (max-width: 450px) {
    .mt-124{
        margin-bottom: 20px;
    }
    
    h1.heading{
        font-size: 50px;
        font-weight: 800px;
        margin-left: 30px;
    }

    p.p-kedua{
        margin-left: 30px;
        font-size: 20px;
    }

    .intro-col img{
        width: 90%;
        height: 100%;
        margin-top: 20px;
        margin-left: 30px;
    }

    .intro-img img{
        width: 100%;
        height: 120%;
        padding-right: 100px;
        margin-top: -10px;
        margin-bottom: -20px;
    }

    .con-contents{
        margin-bottom: 10%;
    }
}